@charset "UTF-8";
@import url(../css/reset.css);
body {
  font-size: 14px;
  background-color: #f5f5f5; }

button {
  outline: none;
  border: 0.01rem solid transparent;
  background: none; }

.wrap {
  font-family: "微软雅黑";
  width: 7.5rem;
  margin: 0 auto; }

.wrap .head {
  max-width: 7.5rem;
  width: 100%;
  height: 1.1rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.wrap .head div {
  display: flex;
  align-items: center;
  justify-content: center; }

.wrap .head .back {
  width: 10%;
  height: 100%; }

.wrap .head .back .iconfont {
  font-size: 0.3rem;
  color: #949494; }

.wrap .head .ser {
  width: 85%;
  height: 0.7rem;
  border-radius: 0.7rem;
  background-color: #efefef;
  display: flex;
  align-content: center;
  justify-content: space-around;
  position: relative; }

.wrap .head .ser .ser-ipt-div {
  height: 100%;
  width: 80%; }

.wrap .head .ser div > input {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  background: none;
  font-size: .3rem;
  color: #949494;
  outline: none; }

.wrap .head .ser .close-ser {
  height: 0.46rem;
  border: 1px solid #000;
  position: absolute;
  left: 10%;
  border-radius: .23rem;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }

.wrap .head .ser .close-ser .cl-serft {
  color: white;
  text-align: center;
  line-height: 0.46rem;
  text-indent: 0.1rem; }

.wrap .head .ser .close-ser .cl-img {
  width: 0.5rem;
  height: 0.46rem;
  background: url(../img/close.gif) center center no-repeat;
  background-size: 0.2rem 0.2rem; }

.wrap .head .ser div > input::-webkit-input-placeholder {
  font-weight: bold; }

.wrap .head .ser > p {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrap .head .ser p .iconfont {
  color: #949494; }

.wrap .head .btn-ser {
  width: 5%;
  height: 100%; }

.facet-visibel {
  height: 100%;
  overflow: hidden; }

article {
  padding-top: 1.1rem;
  width: 100%;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb; }

article section .nav {
  display: flex;
  width: 100%; }

article section .nav div {
  flex: 1;
  height: .68rem;
  color: #191919;
  font-size: .26rem;
  display: flex;
  align-items: center;
  justify-content: center; }

article section .nav div span {
  font-size: .26rem;
  padding-bottom: 0.05rem;
  border-bottom: 0.01rem solid transparent; }

article section .nav div .sp-border {
  border-color: #000;
  font-weight: 700; }

article section .introduce {
  background-color: #fff;
  width: 100%;
  z-index: 5;
  position: relative; }

article section .introduce .intro-first {
  width: 100%;
  height: 0.88rem;
  display: flex;
  color: #9e9e9e;
  border-bottom: 0.01rem solid #ebebeb;
  z-index: 5; }

article section .introduce .intro-first div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; }

article section .introduce .intro-first div span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

article section .introduce .intro-first div .weight {
  font-weight: 700;
  color: #000; }

article section .introduce .intro-first div:nth-child(4) i {
  background: url(../img/asc-desc.png) -0.48rem 0.15rem no-repeat;
  background-size: .61rem .2rem;
  width: .2rem;
  height: .5rem;
  margin-right: .2rem;
  margin-left: .1rem; }

article section .introduce .intro-first div:nth-child(4) .asc {
  background-position: -.24rem .15rem; }

article section .introduce .intro-first div:nth-child(4) .desc {
  background-position: 0 .15rem; }

article section .activity {
  width: 100%;
  z-index: 5; }

article section .activity .facet-list {
  width: 100%;
  padding: .2rem 0;
  display: flex;
  justify-content: space-around; }

article section .activity .facet-list .facet-item {
  width: 1.6rem;
  height: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.08rem;
  font-size: .2rem;
  color: #59595a;
  background-color: #f5f5f5;
  position: relative; }

article section .activity .facet-list .facet-item span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 0.08rem; }

article section .activity .facet-list .it-after::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: .3rem;
  height: .3rem;
  background: url(../img/yes.png) 50% no-repeat;
  background-size: 100% 100%; }

article section .activity .facet-list .facet-item .it-after {
  border-color: #000;
  background-color: #fff; }

article section .activity .facet-list .facet-item .tri::after {
  position: absolute;
  content: " ";
  background: url(../img/arrow.png) 50% no-repeat;
  background-size: 100% 100%;
  width: .25rem;
  height: .25rem;
  right: -0.25;
  top: .08rem;
  -webkit-transform-origin: center;
  transform-origin: center; }

article section .activity .facet-list .facet-item .expand.tri::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

article section .activity .facet-list .facet-item .tri {
  position: relative; }

article section .activity .facet-list .facet-item .label-border {
  border: 0.01rem solid #000;
  background-color: #fff;
  color: #191919; }

article section .option {
  width: 100%;
  height: 5.85rem;
  z-index: 5;
  position: relative;
  background-color: #fff; }

article section .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); }

article section .option .option-part1 {
  width: 100%;
  height: 5rem;
  border-top: 0.01rem solid #ebebeb; }

article section .option .option-part1 .option-item {
  width: 100%;
  display: flex;
  justify-content: space-between; }

article section .option .option-part1 .option-item .op-active {
  color: #191919;
  font-weight: 700;
  background: url(../img/yes2.png) 100% no-repeat;
  background-size: .3rem .3rem; }

article section .option .option-part1 div {
  width: 50%;
  height: 0.8rem; }

article section .option .option-part1 .option-item div p {
  width: 80%;
  height: .8rem;
  line-height: .8rem;
  text-indent: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

article section .option .option-part2 {
  width: 100%;
  height: 0.82rem;
  display: flex;
  justify-content: space-between;
  border-top: 0.01rem solid #ebebeb;
  border-bottom: 0.01rem solid #ebebeb; }

article section .option .option-part2 div {
  width: 50%;
  height: 100%;
  flex: 1; }

article section .option .option-part2 div button {
  width: 100%;
  height: 100%;
  display: block;
  border-right: 0.01rem solid #ebebeb;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: .82rem; }

article section .option .option-part2 div:nth-child(2) {
  background-color: #000; }

article section .option .option-part2 div:nth-child(2) button {
  color: white; }

article section .goods {
  width: 100%; }

article section .goods ul .goods-list {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0  0.3rem;
  margin: 0.2rem 0; }

article section .goods ul .goods-list > div {
  width: 48.5%;
  height: 100%;
  border: 1px solid #ebebeb;
  border-radius: .2rem;
  background-color: white; }

article section .goods ul .goods-list div .goods-img {
  width: 100%;
  height: 3.36rem; }

article section .goods ul .goods-list div .goods-img img {
  border-radius: .2rem; }

article section .goods ul .goods-list .goods-font1 {
  font-size: 0.26rem;
  padding-top: 0.3rem;
  font-weight: 700;
  margin-left: 0.2rem; }

article section .goods ul .goods-list .goods-font2 {
  height: 0.78rem;
  font-size: 0.26rem;
  color: #6e6e6e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  margin: 0.1rem 0.2rem 0 0.2rem; }

article section .goods ul .goods-list .goods-font3 {
  color: #191919;
  font-weight: 700;
  margin-left: 0.2rem; }

article section .goods ul .goods-list .goods-font4 {
  width: 3rem;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex: 1;
  justify-content: space-between; }

article section .goods ul .goods-list .goods-font4 p:nth-child(2) {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem; }

article section .goods ul .goods-list .goods-font4 p:nth-child(2) img {
  width: 100%;
  height: 100%;
  margin-bottom: 0.1rem; }

article section .goods ul .goods-list .goods-font4 p:nth-child(1) {
  width: 1.5rem;
  height: 0.45rem; }

.coll-hid-box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -1rem;
  width: 2rem;
  height: 1.2rem;
  background: #191919;
  color: white;
  font-size: 0.3rem;
  text-align: center;
  line-height: 1rem;
  border: 0.1rem solid gray;
  display: none;
  opacity: 0; }

.all-goods .car-btn {
  width: 0.84rem;
  height: 0.84rem;
  background: url(../img/car_btn.png) center center no-repeat;
  position: fixed;
  bottom: 5%;
  right: 10%;
  background-size: 100% 100%;
  z-index: 1000; }

/*# sourceMappingURL=Filter.css.map */
