@import url(../css/reset.css);
.carbox {
  width: 7.5rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column; }

.sheadercar {
  width: 7.5rem;
  height: .8rem; }

.cartop {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 7.5rem;
  height: .8rem;
  display: flex;
  font-size: 0.3rem;
  margin: 0 auto;
  border-bottom: 1px solid #9e9e9e;
  justify-content: space-between;
  background: #fafafa; }

.cartop a:nth-last-of-type(1) {
  min-width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #333;
  padding: 0 0.1rem;
  text-align: center;
  background: url(../img/sback.png) no-repeat center center;
  background-size: 0.35rem 0.33rem; }

.cartop .s-header-title {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
  line-height: 0.8rem;
  text-align: center;
  color: #1a1819; }

.cartop .s-header-title h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.33rem;
  text-overflow: ellipsis;
  font-weight: 400; }

.cartop .s-edit-btn {
  min-width: 0.8rem;
  height: 0.8rem;
  color: #9e9e9e;
  padding: 0 0.1rem;
  text-align: center;
  line-height: 0.8rem; }

.hellocar {
  display: block;
  width: 100%;
  height: 1.4rem;
  position: relative;
  border-bottom: .12rem solid #f5f5f5;
  background: url(../img/shello1.png) no-repeat center center/100%; }

.hellocar .helloback {
  width: .36rem;
  height: .36rem;
  position: absolute;
  right: .3rem;
  top: 0.1rem; }

.sc-list {
  width: 100%; }

.warehouse {
  border-bottom: .12rem solid #f5f5f5;
  font-size: .24rem; }

.sc-head {
  height: 1rem;
  line-height: 1rem;
  position: relative;
  font-size: .26rem;
  display: flex;
  align-items: center;
  padding: 0 0.3rem; }

.sc-hcheck {
  width: .4rem;
  height: .4rem;
  margin-right: .1rem; }

.sc-flexpadding {
  flex: 1; }

.sc-coupon, .sc-housetagbar, .sc-house-tag {
  color: #EE1414; }

.sc-housetagbar {
  margin: 0 .1rem; }

.sc-group {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0.3rem;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 0.2rem; }

.sc-goods-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sc-goods {
  display: flex;
  flex-direction: row; }

.sc-goods-item .sc-goods-checked {
  display: flex;
  align-items: center;
  padding: 0 .1rem; }

.sc-goods-item .sc-goods-checked input {
  width: .4rem;
  height: .4rem;
  margin-right: .1rem; }

.sc-goods-item .sc-goods-main {
  display: flex;
  justify-content: space-between;
  flex: 1; }

.sc-goods-item .sc-goods-main .sc-goodsimg {
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  font-size: 0.24rem; }

.sc-goods-item .sc-goods-main .sc-goods-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: .2rem 0 .2rem .2rem;
  margin-right: .2rem;
  border-bottom: 1px solid #e6e6e6; }

.sc-goods-item .sc-goods-main .sc-goods-info .sc-goods-name {
  font-size: 0.24rem; }

.sc-goods-item .sc-goods-main .sc-goods-info .sc-goods-row {
  position: relative;
  margin: .1rem 0; }

.sc-goods-item .sc-goods-main .sc-goods-info .sc-goods-row .sc-chands-info {
  color: #6e6e6e;
  height: .44rem;
  line-height: .44rem;
  background: #ededed;
  padding: 0 .36rem 0 .1rem;
  border-radius: .02rem;
  display: inline-block;
  font-size: .24rem;
  position: relative; }

.sc-chands-info:after {
  position: absolute;
  content: "";
  top: .08rem;
  right: .1rem;
  width: .14rem;
  height: .14rem;
  line-height: 0;
  border: 1px solid #9e9e9e;
  border-width: 0 0 1px 1px;
  transform: rotate(315deg); }

.sc-goods-item .sc-goods-main .sc-goods-info .sc-meta-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.sc-goods-item .sc-goods-main .sc-goods-info .sc-meta-box .metablhide {
  display: none;
  overflow: hidden; }

.sc-goods-item .sc-goods-main .sc-goods-info .sc-meta-box .sc-del {
  display: none; }

.sc-meta-box .sc-price {
  font-size: 0.32rem;
  font-weight: 700; }

.sc-meta-box .sc-count-box {
  display: flex;
  flex-direction: row;
  width: 1.7rem;
  height: .5rem;
  border: 1px solid rgba(158, 158, 158, 0.5); }

.sc-meta-box .sc-count-box .add, .sc-meta-box .sc-count-box .minus {
  width: .5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

.sc-meta-box .sc-count-box .add {
  border-left: 1px solid rgba(158, 158, 158, 0.5); }

.sc-meta-box .sc-count-box .minus {
  border-right: 1px solid rgba(158, 158, 158, 0.5); }

.sc-meta-box .sc-count-box .txt {
  flex: 1;
  text-align: center;
  line-height: .5rem;
  font-size: 0.3rem; }

.sc-counter-bar {
  position: relative;
  width: 100%; }

.sc-counter-bar .count-main {
  height: 1rem;
  padding-left: .3rem;
  background: #fff;
  display: flex;
  flex-direction: row; }

.sc-counter-bar .count-main .counter-btn {
  width: 2.75rem;
  height: .8rem;
  background-color: #ea4141;
  color: #fff;
  font-size: .26rem;
  overflow: hidden;
  border: none;
  outline: none;
  border-radius: .04rem;
  margin: .1rem; }

.sc-counter-bar .count-main .counter-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; }

.cmain-title span {
  font-size: .24rem; }

.cmain-title span:nth-of-type(2) {
  color: #ea4141;
  font-weight: 700;
  font-size: .32rem; }

.cmain-title span:nth-of-type(3) {
  color: #9e9e9e;
  margin-left: .1rem;
  font-weight: 400; }

.counter-info .sub-title {
  color: #9e9e9e;
  font-weight: 400; }

.sclisthide {
  display: none; }

.sc-enpty {
  width: 100%;
  display: none; }

.carbox .enptyshow {
  display: block; }

.empty-tip {
  margin: 1rem 0 .5rem;
  display: flex;
  width: 100%;
  height: 4rem;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #999; }

.sc-enpty .empty-tip .emptyimg {
  width: 2.1rem;
  height: 2.1rem; }

.sc-enpty .empty-tip p {
  margin: .4rem 0; }

.sc-enpty .empty-tip .elink {
  background-color: #ff4a00;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none; }

.sc-enpty .empty-guide {
  display: flex;
  height: 2rem;
  padding: .25rem; }

.sc-enpty .empty-guide .empty-guide-i {
  flex: 1;
  width: 1px; }

.sc-enpty .empty-guide .empty-guide-i:nth-of-type(1) {
  background: url(../images/syw/sguide1.png);
  margin-right: .25rem;
  background-size: cover;
  background-position: 0 0; }

.sc-enpty .empty-guide .empty-guide-i:last-of-type {
  background: url(../images/syw/sguide2.png);
  background-size: cover;
  background-position: 0 0; }

.scqhide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none; }

.scshow {
  display: block; }

.scd-box {
  position: fixed;
  top: 35%;
  left: 10%;
  width: 6rem;
  height: 3rem;
  z-index: 101;
  background: #fff;
  text-align: center;
  display: none; }

.scdshow {
  display: block; }

.scd-box h3 {
  margin: .3rem 0; }

.scd-box div {
  width: 4rem;
  height: .8rem;
  border: #6e6e6e;
  line-height: .8rem;
  margin: .3rem auto; }

.scd-box div span {
  display: inline-block;
  margin: 0 .3rem; }

.checkpay {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: none; }
  .checkpay .sp-info {
    width: 100%;
    height: .62rem;
    background: url(../images/syw/stopinfo.png) 0 0;
    background-size: cover; }
  .checkpay .sp-address {
    height: 1.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .checkpay .sp-address .sp-ad-icon {
      width: .38rem;
      display: inline-block;
      margin-left: .3rem; }
      .checkpay .sp-address .sp-ad-icon img {
        width: .38rem;
        height: .38rem;
        vertical-align: middle; }
    .checkpay .sp-address .sp-ad-cont {
      display: inline-block;
      vertical-align: middle;
      max-width: 6rem;
      flex: 1; }
      .checkpay .sp-address .sp-ad-cont div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 6rem; }
      .checkpay .sp-address .sp-ad-cont .sp-username {
        font-size: .3rem;
        color: #191919; }
      .checkpay .sp-address .sp-ad-cont .sp-userad {
        margin-top: .06rem;
        font-size: .24rem;
        color: #6e6e6e; }
    .checkpay .sp-address .sp-aicon-rig {
      width: .23rem;
      vertical-align: middle;
      float: right; }
      .checkpay .sp-address .sp-aicon-rig img {
        width: .23rem;
        height: .23rem; }
  .checkpay .sp-product-wrapper {
    border-top: .12rem solid #f5f5f5;
    border-bottom: .04rem solid #e6e6e6;
    transition: height .5s;
    overflow: hidden; }
    .checkpay .sp-product-wrapper .sp-product {
      height: 2.1rem;
      line-height: 2.1rem;
      width: 7.2rem;
      overflow: hidden;
      margin-left: auto;
      border-bottom: .02rem solid #e6e6e6; }
      .checkpay .sp-product-wrapper .sp-product .sp-pro-img {
        width: 1.7rem;
        line-height: 2.1rem;
        float: left;
        margin-right: .1rem; }
      .checkpay .sp-product-wrapper .sp-product .sp-pro-desc {
        overflow: hidden;
        line-height: 1.5;
        display: inline-block;
        width: 5.1rem;
        vertical-align: middle; }
        .checkpay .sp-product-wrapper .sp-product .sp-pro-desc .sp-pro-title {
          font-size: .26rem;
          color: #191919; }
        .checkpay .sp-product-wrapper .sp-product .sp-pro-desc .sp-pro-price {
          display: flex;
          justify-content: space-between; }
          .checkpay .sp-product-wrapper .sp-product .sp-pro-desc .sp-pro-price span {
            font-size: .28rem;
            color: #191919; }
  .checkpay .sp-count {
    line-height: .74rem;
    text-align: center;
    font-size: .24rem;
    color: #9e9e9e; }
  .checkpay .sp-pay-method-wrapper {
    padding: 0 .3rem;
    border-top: .12rem solid #f5f5f5;
    border-bottom: .12rem solid #f5f5f5; }
    .checkpay .sp-pay-method-wrapper .spdiscounts {
      height: .86rem;
      line-height: .86rem;
      border-bottom: .04rem solid #e6e6e6;
      display: flex;
      justify-content: space-between; }
  .checkpay .sp-balance-wrapper {
    padding-bottom: 1rem; }
    .checkpay .sp-balance-wrapper .sp-balance-item {
      height: .6rem;
      padding: .12rem .3rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between; }
  .checkpay .sp-fix-pay-wrapper {
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: #fff; }
    .checkpay .sp-fix-pay-wrapper .sp-fix-pay-cont {
      height: 100%;
      margin: 0 .38rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .checkpay .sp-fix-pay-wrapper .sp-fix-pay-cont .sp-facount {
        line-height: 1rem; }
      .checkpay .sp-fix-pay-wrapper .sp-fix-pay-cont .sp-fixbtn {
        width: 2rem;
        height: .8rem;
        line-height: 0.8rem;
        background-color: #ea4141;
        color: #fff;
        font-size: .26rem;
        border-radius: .04rem;
        text-align: center;
        margin: .1rem 0; }

.checkpayshow {
  display: block; }

/*# sourceMappingURL=shopcart.css.map */
