@charset "utf-8";
$a:#333;  //a链接的颜色
$desc:#7f7f7f; //详情字体颜色
$hot:hsl(358, 73%, 56%);//爆品背景颜色
$hui:#f48f18;  //特惠或者其他的颜色
$price:#EE1414; //价格的颜色
$morecolor:#b4a078; //多色可选
$w:7.5rem;   //宽度
// sass --watch scss\common.scss:css\common.css
@import "../css/reset.css";