@charset "utf-8";
@import "../../../css/common.css";

body {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 0.3rem;
}

/*固定定位搜索框*/ 
.fsearch{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index:5;
    display:none;
    .search{
        padding: 0.17rem 0.27rem;
    }
}
.search {
    display: flex;
    height: 0.8rem;
    font-size: 0.3rem;
    color: black;
    background: rgba(250, 250, 250, 0.9);
    // padding: 0.17rem 0.27rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    a{
        width: 0.36rem;
        height: 0.36rem;
    }
}

.bannerbox {
    width: 100%;

    .banner {
        .swiper-slide img {
            border-radius: 0.2rem;
        }
    }

    .swiper-pagination {
        // max-width: 7.5rem;
        width: 100%;
        height: 0.3rem;
        position: relative;

        span {
            width: 0.2rem;
            height: 0.05rem;
            border-radius: 0;
            margin: 0 0.05rem;
            background: gray;
        }
    }
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        display: flex;
        width: 30%;
        height: 1rem;
        border-radius: 0.2rem;
        font-size: 0.24rem;
        font-weight: 700;
        line-height: 1rem;
        border: 1px solid rgb(230, 230, 230);
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 0.2rem;

        img {
            width: 0.8rem;
            height: 0.8rem;
        }

        span {
            width: 0.96rem;
        }
    }
}

.yh {
    overflow: hidden;

    img {
        // width: 7.5rem;
    }
}

.hot {
    padding-top: 0.2rem;

    h2 {
        // line-height: 0.56rem;
        height: 0.56rem;
        font-size: 0.4rem;
        margin-bottom: 0.2rem;
        padding: 0;
    }
}

.hot-cont {
    width: 100%;
    height: 4.11rem;
    overflow: hidden;

    ul {
        display: flex;

        li {
            .hot-items {
                margin-right: 0.16rem;
                width: 2.18rem;
                background: #fafafa;
                border-radius: 0.2rem;
                border: 1px solid rgba(230, 230, 230, .5);

                a {
                    .hot-img {
                        width: 2.18rem;
                        height: 2.18rem;
                    }

                    .hot-text {
                        text-align: center;
                        font-size: 0.24rem;

                        p {
                            margin: 0.1rem 0;
                        }

                        .hot-info {
                            font-size: 0.26rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            padding: 0 .05rem;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }

                        .hot-desc {
                            text-align: left;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            padding: 0 .05rem;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }

                        .hot-price {
                            color: #ea4141;
                            font-size: 0.3rem;
                        }
                    }
                }
            }
        }
    }
}

.new {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pagination {
        // position:relative;
        // top:0;
        // left:100rem;
        font-size: 0.25rem;
        width: 1rem;
        text-align: right;
        color: gray;

        span:nth-child(1) {
            color: black;
            font-size: 0.3rem;
            font-weight: 700;
        }
    }
}

.newshop {
    .swiper-slide {
        background-color: #fafafa;
    }

    .new-img {
        width: 5.2rem;
        height: 5.2rem;
        margin: 0 auto;
        background: white;
    }

    .new-text {
        font-size: 0.28rem;

        p {
            font-weight: 700;
        }

        p:nth-child(2) {
            width: 5.6rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 400;
        }
    }

    .swiper-pagination {
        top: -2rem;
        right: 0;
        width: 2rem;
        z-index: 10;
        color: black;
        font-size: 1rem;
    }
}

/*人气榜*/
.moods {
    .moods-title {
        line-height: 1rem;

        h2 {
            font-size: 0.4rem;
        }

        position: relative;
        top:0;
        left:0;

        .pagination {
            font-size: 0.26rem;
            color: gray;
            width: 1.5rem;
            position: absolute;
            top: 0;
            left: 80%;

            span:nth-child(1) {
                font-size: 0.34rem;
                color: black;
                font-weight: 700;
            }
        }
    }

    .moodsbanner {
        .swiper-slide {
            height: 8.9rem;
            background: url(../../../images/dq/jdq-10.png) center center/cover no-repeat;

            .moods-mr {
                width: 5.6rem;
                height: 0.9rem;
                background: rgba(0, 0, 0, 0.25);
                margin: .5rem auto .3rem auto;
                font-size: 0.56rem;
                font-weight: 700;
                color: white;
                text-align: center;
            }

            .moods-cont {
                width: 6.5rem;
                margin: 0.1rem 0.2rem;
                border-radius: 0.2rem;
                background-color: white;

                li {
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0.2rem 0;

                        .moods-pm {
                            width: 0.3rem;
                            height: 0.3rem;
                            text-align: center;
                            line-height: 0.3rem;
                            color: white;
                            border-radius: 50%;
                            background: #E5C88E;
                            margin-right: 0.2rem;
                        }

                        .moods-img {
                            width: 1rem;
                            height: 1rem;
                        }

                        .moods-info {
                            width: 4.6rem;
                            font-size: 0.3rem;

                            h2 {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: .3rem;
                                line-height: .5rem;
                                height: .5rem;
                                color: #191919;
                            }

                            .moods-info-bottom {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                        }

                        .addshop {
                            width: 0.35rem;
                            height: 0.35rem;
                        }
                    }
                }
            }
        }

        .moods-lastimg {
            height: 8.9rem;
            background: url(../../../images/dq/jdq-11.png) center center/cover no-repeat;
        }

    }
}

/*品质好物*/
.shopgood {
    padding: 0.2rem 0;
    font-size: 0.4rem;
    font-weight: 700;

    div:nth-child(1) {
        padding-bottom: 0.2rem;
    }

    .shopgood-img {
        width: 100%;

        img {
            border-radius: 0.2rem;
        }
    }
}

/*人美也要多读书*/
.study {
    margin: 0.2rem 0;

    img {
        border-radius: 0.2rem;
    }
}

/*热门品牌*/
.hot-shopbox {
    h2 {
        line-height: 0.56rem;
        margin: 0.2rem 0;
        font-size: 0.4rem;
    }

    .hot-shops {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .hot-items {
            width: 3.35rem;
            height: 3.7rem;
            border-radius: 0.2rem;
            margin-bottom: 0.2rem;
            background: url(../../../images/dq/jdq-14.png) no-repeat;
            background-size: cover;
            background-position: center;

            a {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: flex-end;

                // width: 100%;
                .hot-items-info {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .hot-items-img {
                        width: 1rem;
                        height: 1rem;
                        border-radius: 0.1rem;
                        overflow: hidden;
                        border: 1px solid rgba(230, 230, 230, 0.5);
                        transform: translateY(18%);
                    }

                    .hot-items-text {
                        width: 100%;
                        height: 1.2rem;
                        background: rgba(255, 255, 255, 0.7);
                        font-size: 0.23rem;
                        text-align: center;
                        padding: 0.2rem 0;

                        p:nth-child(1) {
                            font-size: 0.3rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .hot-items:nth-child(2) {
            background: url(../../../images/dq/jdq-15.png) no-repeat;
            background-size: cover;
            background-position: center;
        }

        .hot-items:nth-child(3) {
            background: url(../../../images/dq/jdq-16.png) no-repeat;
            background-size: cover;
            background-position: center;
        }

        .hot-items:nth-child(4) {
            background: url(../../../images/dq/jdq-17.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

/*新奇体验*/
.newness {
    .newness-title {
        margin-bottom: 0.2rem;
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 0.4rem;
            font-weight: 400;
            color: rgb(85, 83, 83);
        }

        .pagination {
            line-height: 0.6rem;
            text-align: right;
            width: 1rem;
            font-size: 0.24rem;
            color: gray;

            span:nth-child(1) {
                color: black;
                font-size: 0.26rem;
            }
        }
    }

    .newness-banner {
        .swiper-wrapper {
            .swiper-slide {
                .newness-content {
                    display: block;
                    border-radius: 0.2rem;
                    border: 1px solid #e6e6e6;
                    padding: 0.2rem;
                    background: #fafafa;

                    .newness-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: .2rem;
                        border-bottom: 1px solid #e6e6e6;

                        .header-left {
                            display: flex;
                            align-items: center;

                            .user-name {
                                margin: 0 0.1rem;
                            }

                            .user-img {
                                width: 0.5rem;
                                height: 0.5rem;
                                border-radius: 50%;
                                overflow: hidden;
                            }

                            .user-img2 {
                                width: 0.3rem;
                                height: 0.3rem;
                            }
                        }
                    }

                    .newness-text {
                        padding-top: 0.2rem;
                        display: flex;
                        justify-content: space-between;

                        .newness-text-img {
                            width: 2.3rem;
                            height: 2.3rem;

                            img {
                                border-radius: 0.1rem;
                            }
                        }

                        .newness-text-cont {
                            width: 4rem;
                            display: flex;
                            flex-wrap: wrap;

                            div:nth-child(1) {
                                p {
                                    font-size: 0.2rem;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;
                                    overflow: hidden;
                                }
                            }

                            div:nth-child(2) {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 3rem;

                                span {
                                    height: 0.25rem;
                                    display: block;
                                    border-radius: 0.2rem;
                                    background: #e6e6e6;
                                    padding: 0 0.1rem;
                                    font-size: 0.14rem;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}

/*热销推荐*/
.sell {
    h2.sell-title {
        font-size: 0.4rem;
        margin: 0.2rem 0;
    }

    .sell-shops {
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        .sell-item {
            background-color: #fafafa;
            border: 1px solid rgba(230, 230, 230, .5);
            border-radius: 0.2rem;
            width: 3.3rem;
            margin-bottom:0.25rem;
            a {
                .sell-item-img {
                    width: 2.8rem;
                    height: 2.8rem;
                    margin: 0.2rem auto;

                    img {
                        border-radius: 0.2rem;
                        overflow: hidden;
                    }
                }

                .sell-item-info {
                    font-size: 0.24rem;
                    padding: 0 0.2rem;
                    width: auto;
                    padding-top: 0.15rem;

                    p:nth-child(1) {
                        font-size: 0.26rem;
                        font-weight: 700;
                    }

                    p:nth-child(2) {
                        overflow: hidden;
                        text-align: left;
                        word-break: break-all;
                        text-overflow: ellipsis;
                        color: #6e6e6e;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }

            .sell-item-bottom {
                font-size: 0.18rem;
                color: gray;
                padding: 0 0.2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sell-item-bottom-left {
                    p:nth-child(1) {
                        font-size: 0.22rem;
                        color: red;
                    }
                }

                .sell-addshopcar {
                    width: 0.42rem;
                    height: 0.42rem;
                }
            }
        }
    }
}
.shoptx{
    width: 2rem;
    height: 1rem;
    position: fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    background:rgba(51, 50, 50, 0.8);
    z-index:20;
    font-size:0.26rem;
    color:white;
    line-height:0.8rem;
    text-align:center;
    border:0.1rem solid rgba(206, 201, 201, 0.5);
    display:none;
}