@charset "utf-8";
@import "../../css/common.css";
a{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
.box{
    height: 10rem;
    background-color:blue;
}
footer{
    width: 100%;
    height: 0.94rem;
    .foot{
        max-width: 7.5rem;
        width:100%;
        height: 0.94rem;
        bottom: 0;
        background-color: white;  
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0%;
        z-index: 1;
        align-items: center;
        div{
            width: 25%;
            display:flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            a{
                text-align:center;
            }
            .c2{
                margin-left:-0.12rem;
            }
            .c3{
                margin-left:-0.04rem;
            }
        }
    }
}
footer p:nth-child(1){
    height: 0.48rem;
    width: 0.48rem;
    margin-top: 0.01rem;
}
footer p:nth-child(2){
    font-size: .18rem;   
}

footer i:nth-child(1){
    font-size: 0.47rem;
}
